<a href="https://colab.research.google.com/github/zoribecca/Data_Science_Practice_Projects/blob/main/Week5_Trip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# pd.read_csv()
trip = pd.read_csv("/content/drive/MyDrive/3MTT WORKS/Datasets/trip (1).csv")

In [ ]:
# To return the first 5 rows of the dataset
trip.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [ ]:
# To return the last 5 rows
trip.tail()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
236060,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
236061,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236062,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236063,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236064,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [ ]:
# To return the summary statistics of the dataset
trip.describe()

             trip_id  tripduration      birthyear
count  236065.000000  236065.00000  146167.000000
mean   130059.869333    1202.61221    1979.879740
std     72842.289278    2066.42488      10.154978
min       431.000000      60.00800    1931.000000
25%     67746.000000     392.26500    1975.000000
50%    130526.000000     633.23500    1983.000000
75%    192900.000000    1145.01500    1987.000000
max    255245.000000   28794.39800    1999.000000

In [ ]:
# To provide info about the dataset
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236065 entries, 0 to 236064
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            236065 non-null  int64
 1   starttime          236065 non-null  object
 2   stoptime           236065 non-null  object
 3   bikeid             236065 non-null  object
 4   tripduration       236065 non-null  float64
 5   from_station_name  236065 non-null  object
 6   to_station_name    236065 non-null  object
 7   from_station_id    236065 non-null  object
 8   to_station_id      236065 non-null  object
 9   usertype           236065 non-null  object
 10  gender             146171 non-null  object
 11  birthyear          146167 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 21.6+ MB

In [ ]:
# To return the dimension of the dataset
trip.shape

(236065, 12)

In [ ]:
trip.loc[(trip["gender"] == "Female")].head(20)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
8,439,10/13/2014 11:35,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974.0
10,441,10/13/2014 11:36,10/13/2014 11:45,SEA00195,564.899,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1983.0
15,446,10/13/2014 11:37,10/13/2014 11:47,SEA00106,618.781,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1958.0
18,450,10/13/2014 11:40,10/13/2014 11:49,SEA00107,499.734,Occidental Park / Occidental Ave S & S Washing...,City Hall / 4th Ave & James St,PS-04,CBD-07,Member,Female,1976.0
23,456,10/13/2014 11:43,10/13/2014 11:51,SEA00121,483.154,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1986.0
24,457,10/13/2014 11:43,10/13/2014 11:51,SEA00029,479.382,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1987.0
25,458,10/13/2014 11:43,10/13/2014 11:52,SEA00436,533.532,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1987.0
28,461,10/13/2014 11:43,10/13/2014 11:51,SEA00348,459.165,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1983.0
30,463,10/13/2014 11:44,10/13/2014 12:00,SEA00296,920.055,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Female,1969.0
34,467,10/13/2014 11:45,10/13/2014 12:00,SEA00155,860.538,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Female,1989.0
38,473,10/13/2014 11:49,10/13/2014 12:00,SEA00208,650.655,Occidental Park / Occidental Ave S & S Washing...,6th Ave S & S King St,PS-04,ID-04,Member,Female,1987.0
39,474,10/13/2014 11:49,10/13/2014 11:59,SEA00076,625.986,Occidental Park / Occidental Ave S & S Washing...,6th Ave S & S King St,PS-04,ID-04,Member,Female,1959.0
41,476,10/13/2014 11:49,10/13/2014 11:59,SEA00032,622.753,Occidental Park / Occidental Ave S & S Washing...,6th Ave S & S King St,PS-04,ID-04,Member,Female,1956.0
43,478,10/13/2014 11:51,10/13/2014 12:01,SEA00445,611.484,Occidental Park / Occidental Ave S & S Washing...,6th Ave S & S King St,PS-04,ID-04,Member,Female,1951.0
50,485,10/13/2014 11:51,10/13/2014 12:04,SEA00440,733.031,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Female,1979.0
51,486,10/13/2014 11:51,10/13/2014 12:05,SEA00263,787.683,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Female,1988.0
52,487,10/13/2014 11:52,10/13/2014 12:04,SEA00183,752.147,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Female,1960.0
70,508,10/13/2014 12:11,10/13/2014 12:25,SEA00183,872.985,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1960.0

In [ ]:
trip.iloc[0:4,2:5]

           stoptime    bikeid  tripduration
0  10/13/2014 10:48  SEA00298       985.935
1  10/13/2014 10:48  SEA00195       926.375
2  10/13/2014 10:48  SEA00486       883.831
3  10/13/2014 10:48  SEA00333       865.937

In [ ]:
trip["gender"].fillna("Male", inplace = True)   # inplace to indicate a permanent change

<ipython-input-10-31b5d32d2ea3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  trip["gender"].fillna("Male", inplace = True)   # inplace to indicate a permanent change

In [ ]:
trip.isna().sum()

trip_id                  0
starttime                0
stoptime                 0
bikeid                   0
tripduration             0
from_station_name        0
to_station_name          0
from_station_id          0
to_station_id            0
usertype                 0
gender                   0
birthyear            89898
dtype: int64

In [ ]:
# Aggregators
# sum()
# mean()
# max()
# min()
# count()
# nunique()
# unique()
# value_counts()

In [ ]:
# Using Groupby()
trip.groupby("gender").value_counts().tail(100)

gender  trip_id  starttime        stoptime         bikeid    tripduration  from_station_name               to_station_name                  from_station_id  to_station_id  usertype  birthyear
Other   246479   8/11/2016 18:07  8/11/2016 18:11  SEA00124  243.106       15th Ave E & E Thomas St        E Pine St & 16th Ave             CH-05            CH-07          Member    1966.0       1
        246495   8/11/2016 18:36  8/11/2016 18:45  SEA00111  572.324       1st Ave & Marion St             Pier 69 / Alaskan Way & Clay St  CBD-05           WF-01          Member    1957.0       1
        246571   8/11/2016 20:34  8/11/2016 20:46  SEA00098  718.624       E Harrison St & Broadway Ave E  Broadway and E Denny Way         CH-02            CH-16          Member    1987.0       1
        246638   8/12/2016 8:13   8/12/2016 8:19   SEA00282  307.387       15th Ave E & E Thomas St        Summit Ave & E Denny Way         CH-05            CH-01          Member    1966.0       1
        246649   8/12/2016 8:27   8/12/2016 8:34   SEA00226  378.389       REI / Yale Ave N & John St      Mercer St & 9th Ave N            SLU-01           SLU-21         Member    1966.0       1
                                                                                                                                                                                                  ..
        254795   8/30/2016 16:52  8/30/2016 16:57  SEA00279  306.542       3rd Ave & Broad St              2nd Ave & Pine St                BT-01            CBD-13         Member    1987.0       1
        254801   8/30/2016 17:06  8/30/2016 17:09  SEA00429  163.026       Broadway and E Denny Way        E Harrison St & Broadway Ave E   CH-16            CH-02          Member    1987.0       1
        254983   8/31/2016 8:30   8/31/2016 8:42   SEA00151  695.299       Summit Ave & E Denny Way        3rd Ave & Broad St               CH-01            BT-01          Member    1987.0       1
        255148   8/31/2016 17:21  8/31/2016 17:26  SEA00083  329.898       3rd Ave & Broad St              2nd Ave & Pine St                BT-01            CBD-13         Member    1987.0       1
        255214   8/31/2016 19:58  8/31/2016 20:06  SEA00045  503.995       2nd Ave & Pine St               Summit Ave & E Denny Way         CBD-13           CH-01          Member    1987.0       1
Name: count, Length: 100, dtype: int64

In [ ]:
gender_group = trip.groupby(["gender", "birthyear"])["trip_id"]

In [ ]:
gender_group.count()

gender  birthyear
Female  1931.0         1
        1946.0        43
        1947.0       691
        1948.0         6
        1949.0       132
                    ...
Other   1988.0         5
        1989.0         1
        1990.0        12
        1992.0       153
        1999.0         2
Name: trip_id, Length: 135, dtype: int64

In [ ]:
type("birthyear")

str

In [ ]:
trip.astype({"birthyear" : "str"}).dtypes

trip_id                int64
starttime             object
stoptime              object
bikeid                object
tripduration         float64
from_station_name     object
to_station_name       object
from_station_id       object
to_station_id         object
usertype              object
gender                object
birthyear             object
dtype: object